<h1>Showing selected Article</h1>

<div>Title: <%= @article.title %></div>

<div>Description: <%= @article.description %></div>

<%= link_to "Edit this article", edit_article_path(@article) %> |

<%= link_to "Back to articles listing", articles_path %>