<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
</head>
<body>
  <h1>My Homepage</h1>
    <p>This is my homepage. Hopefully after a little practice, creating apps will become easy and be no big deal.</p>

    <p>Here is a short list of things I want to accomplish through a coding career: </p>
    <ul>
      <li>Make Millions Obviously</li>
      <li>Get even more money</li>
    </ul>
</body>
</html>

<%= link_to 'About', about_path %>